@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 800;
    font-size: 50px;
}

h3{
    font-weight: bold;
    font-size: 30px;
}

h4{
    font-weight: bold;
    font-size: 20px;
}

p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}

.wrapper1{
    padding: 50px;
    width: 1250px;
    margin: 0 auto;
}

.wrapper2{
    padding: 90px;
    width: 1250px;
    margin: 0 auto;
}

.herobanner{
    background-color: #0953ff;
    height: 100vh;
    padding: 50px 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.herobanner h1,
.herobanner h1 a{
    color: white;
    margin: 14px 0 20px;
}


.herobanner h3{
    color: white;
    margin: 0 0 35px;
}


.herobanner h4,
.herobanner h4 a{
    color: white;
    margin: 0;
}

.character01{
    background: url(img/characters/circle-guy.png) no-repeat 0 0;
    background-size: 90%;
    width: 363px;
    height: 344px;
    position: absolute; top: 380px; right: 90px;
}

.character02{
    background: url(img/characters/hat-guy.png) no-repeat 0 0;
    background-size: 50%;
    width: 878px;
    height: 1162px;
    position: absolute; top: 100px; right: -50px;
}

.character03{
    background: url(img/characters/eish-guy.png) no-repeat 0 0;
    background-size: 40%;
    width: 600px;
    height: 794px;
    position: absolute; top: 20px; right: -90px;
}

a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

a.cta:active,
button.cta:active{
    opacity: .7;
}

a.cta.alt,
button.cta.alt{
    background-color: #FFD400;
    color: #111111;
    box-shadow: 0 0 0 5px rgba(0,0,0,.15);
}

nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .logo{
    display: block;
    width: 300px;
    height: 80px;
    position: absolute; top: 50%; left: 0;
    margin-top: -35px;
    margin-left: 10px;
    background: url(img/TheGangLOGO.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    text-indent: -999px;
}

nav ul{
    padding: 0;
    margin: 0 20px 0 0;
}

nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px 10px;
    line-height: 30px;
}

.moreinfo{
    text-align: center;
}

.moreinfo p{
    margin-bottom: 18px 0 35px;
}

.moreinfo h2{
    margin: 50px 0 0;
}

.highlight{
    background-color: #FFADF9;
    color: #FF3300;
    padding: 10px;
    padding: 5px 10px;
    line-height: 50px;
    display: inline;
    font-weight: 800;
}

.separator{
    width: 470px;
    height: 10px;
    background-color: #111111;
    margin: 70px auto;
}

.story h3{
    font-size: 50px;
    font-weight: 800;
}

.nb-list{
    width: 450px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #EDEDED;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
}

.nb-list li{
    height: 70px;
    border-radius: 10px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    padding: 6px 20px;
    box-sizing: border-box;
}

.nb-list li.Red {background-color: red;}
.nb-list li.Blue {background-color: blue;}
.nb-list li.Grey {background-color: rgba(0,0,0,.1);}
.nb-list li.Yellow{
    background-color: #fcd13f;
    color: #111111;
}
.nb-list li.Pink {background-color: pink;}
.nb-list li.Salmon {background-color: salmon;}

.nb-list li.dragging{
    position: absolute;
    top: 70px;
    left: 70px;
    right: -30px;
    transform: rotate(6deg);
    box-shadow: 0 2px 14px rgba(0,0,0,.3);
    background-color: #fcd13f;
    color: #111111;
}

.nb-list li.dragging:after{
    content:'';
    display: block;
    position: absolute;
    width: 54px;
    height: 60px;
    background: url(img/hand2.png) no-repeat 0 0;
    background-size: 100%;
    bottom: -30px;
    left: 60%;

}

.gang-img{
    display: block;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: rgba(0,0,0,.4);
    font-size: 20px;
    margin: 85px 0 45px;
    font-weight: bold;
}

footer a{
    color: rgba(0,0,0,.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.popup{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.popup.show{
    display: block;
}

.popup .blanket{
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup .content{
    box-sizing: border-box;
    padding: 30px 40px;
    width: 960px;
    height: 500px;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -480px;
}

.popup h2{
    margin: 10px 0 20px;
}

.popup .cta{
    margin-top: 40px;
}

.popup .close{
    width: 80px;
    height: 80px;
    background-color: #FF3300;
    background: #FF3300 url(img/closeclose.png) no-repeat center center;
    background-size: 100%;
    position: absolute;
    top: -40px;
    right: -40px;
    border-radius: 50%;
    border: none;
    outline: none;
    overflow: hidden;
    text-indent: -999px;
    cursor: pointer;
}

.popup .row{
    
}

.popup .row:after{
    content:'';
    display: table;
    clear: both;
}

.popup .item{
    float: left;
    width: 415px;
    margin-left: 40px;
    text-align: left;
}

.popup .item:first-child{
    margin-left: 0;
}

.popup .item label{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup .item input[type='text']{
    display: block;
    font-size: 30px;
    font-weight: bold;
    border: 4px solid #111111;
    height: 70px;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
}




/* 

<div class="popup">
        <div class="blanket"></div>
        <div class="content">
            <h2>Fill in your Details</h2>
            <form action="">
                <div class="item">
                    <label> Your First Name</label>
                    <input type="text" placeholder="AwesomeFace" value="Shirley">
                </div>
                <div class="item">
                    <label> Your Last Name</label>
                    <input type="text" placeholder="Circle Face">
                </div>
                <div class="item">
                    <label> Your Favorite Food</label>
                    <input type="text" placeholder="Subs">
                </div>
                <div class="item">
                    <label> Your Favorite color</label>
                    <input type="text" placeholder="White">
                </div>
                <button class="cta">I want in!</button>

            </form>
            <button class="close">Close Button</button>
        </div>
    </div>

*/
/*

<nav>
        <a href="#" class="logo">The Gang</a>
        <ul>
            <li><a href="#signmeup">Sign-Up</a></li>
            <li><a href="#TheStory">The Story</a></li>
            <li><a href="#more-info">More Info</a></li>
        </ul>
    </nav>

*/



/*
<div class="herobanner">
        <div class="wrapper">
            <h4>Tk from the Class <a href="https://taptapkaboom.com/">Taptapkaboom!</a> Presents</h4>
            <h1>The most silliest &amp;<br>
                Awesome Gang <br>
                in the world!</h1>
                <h3>Its the circle guy. hat guy &amp; red guy</br>
                    They're the best of friends.</h3>
                    <a class="cta alt" href="#more-info">Read More</a>
        </div>
        <div class="character01"></div>
        <div class="character02"></div>
        <div class="character03"></div>
    </div>

*/